
dl.wpsnip {
    zoom: 1;
    margin-bottom: 1.5em;
}

/* __________ snippet header __________ */

dl.wpsnip dt {
    font-weight: bold;
}
dl.wpsnip dt cite {
    font-style: normal;
}
/* "snippet from wp" */
dl.wpsnip dt em {
    font-weight: normal;
    float: right;
}
[dir=rtl] dl.wpsnip dt em {
    float: left;
}
dl.wpsnip dt em span {
    position: absolute;
    left: -50000px;
    top: -50000px;
}

/* __________ wp content __________ */

dl.wpsnip dd blockquote {
    border: none;
    padding: 0;
    margin: 0;
}
/* tables */
dl.wpsnip dd .infobox,
dl.wpsnip dd .metadata {
    float: right;
    margin-left: 10px;
}
[dir=rtl] dl.wpsnip dd .infobox,
[dir=rtl] dl.wpsnip dd .metadata {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}
/* top messages */
dl.wpsnip dd .dablink {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 1em;
}
/* license below the content */
dl.wpsnip dd .wplicense {
    clear: both;
    text-align: right;
    font-size: 90%;
}
[dir=rtl] dl.wpsnip dd .wplicense {
    text-align: left;
}
