
/* __________ snippet header __________ */

dl.wpsnip > dt {
    padding-bottom: .2em;
    border-bottom: 1px solid #000;
}
dl.wpsnip > dt cite a.interwiki {
    padding-left: 0;
    padding-right: 0;
    background-image: none;
}

/* __________ wp content __________ */

dl.wpsnip > dd {
    margin: 0;
}

/* license below the content */
dl.wpsnip > dd .wplicense {
    border-top: 1px solid #000;
}