
/* __________ snippet header __________ */

dl.wpsnip dt {
    padding-bottom: .2em;
    border-bottom: 1px solid #000;
}
dl.wpsnip dt cite a.interwiki {
    padding-left: 0;
    background-image: none;
}
/* permalink */
dl.wpsnip dt a.perm {
    display: none;
}

/* __________ wp content __________ */

dl.wpsnip dd {
    margin: 0;
}
/* tables */
dl.wpsnip dd .infobox,
dl.wpsnip dd .metadata {
    border: 1px solid #000;
}
/* license below the content */
dl.wpsnip dd .wplicense {
    border-top: 1px solid #000;
}