
dl.wpsnip {
    background-color: __background_alt__;
    border-radius: 5px;
    /* prevent plugin to interfere with expanded ToC when there's one */
    overflow: hidden;
}

/* __________ snippet header __________ */

dl.wpsnip > dt {
    border-bottom: 1px solid __border__;
    font-size: 120%;
    padding: .2em 1em;
}
/* "snippet from wp" */
dl.wpsnip > dt em {
    font-size: 85%;
    font-style: normal;
    line-height: 1.8;
}
dl.wpsnip > dt em a {
    font-weight: bold;
}

/* __________ wp content __________ */

dl.wpsnip > dd {
    padding: .7em 1em 0;
    margin: 0;
}

dl.wpsnip dl {
    margin-bottom: 1.4em;
}

/* license below the content */
dl.wpsnip dd .wplicense {
    border-top: 1px solid __border__;
    padding: .1em 0;
}
